body {
        background-image: 
          linear-gradient(rgba(225,225,225,0.4),rgba(255,255,255,0.6)),url(mogiten2.png);
        background-size: cover;
        background-attachment: fixed; 
        margin: 0;
      }
        .image-container{
          text-align: center; /* 中身を中央揃えにする */
      }    
       