body{
    /* background-image:  */
        /* linear-gradient(rgba(225,225,225,0.05),rgba(225,225,225,1)),url(yagai2.png); */
        /* background-size: cover;
        background-attachment: fixed;
        margin: 0; */
        background-color: #ebdcc8; /* ベージュ色 */
        margin: 0;
}